@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "nprogress";
@import "nprogress-bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "rails_bootstrap_forms";

.header {
  font-family: "roboto";
  background: #d3360b;
  color: #fff;
}
